{{template "base" .}}

{{ define "content" }}
<h1>Welcome to the home Page</h1>
<small>Welcome to the home Page</small>
<p>Loreus is a simple and simple application that provides a simple and simple interface to the web </p>
<img src="/static/images/house.jpeg" height ='500' width = '500'>
{{end}}